runtime-fabric-status-utility/src/main/mule/runtime-fabric-status-utility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="runtime-fabric-status-utilityFlow" doc:id="bdce9c4d-5337-4c12-b224-f2ce92ea9025">
		<http:listener doc:name="Status Listener" doc:id="d3cb3bc7-1a96-4c70-9bae-853fbd1370c5" config-ref="HTTP_Listener_Status" path="${httplistener.path}">
			<http:error-response statusCode="#[attributes.statusCode]">
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>

		<ee:transform doc:name="Platform Details" doc:id="516b0040-d55a-476d-8824-304088f88ef4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="credentials" ><![CDATA[%dw 2.0
output application/json
---
{
	"client_id": p('connectedapp.client_id'),
	"client_secret": p('connectedapp.client_secret'),
	"orgId": p('platform.orgid')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Get Token Request" doc:id="0a494b9c-cc20-46c6-ab0b-ae794852abac" config-ref="HTTP_Request_Platform_Token" path="${httptoken.path}">
			<http:body><![CDATA[#[%dw 2.0
output urlencoded
---
{
	"client_id": vars.credentials.client_id,
	"client_secret": vars.credentials.client_secret,
	"grant_type": "client_credentials"
}]]]></http:body>
		</http:request>
		<set-variable value="#[payload.access_token]" doc:name="Access Token" doc:id="92e8830c-ab08-4db9-8e81-b04d14afad64" variableName="accessToken"/>
		<http:request method="GET" doc:name="Get Fabrics List" doc:id="287b26df-d64d-4c1f-9b0b-262f12021089" config-ref="HTTP_Request_List_AllFabrics" path="${httpfabrics.path}">
			<http:headers ><![CDATA[#[%dw 2.0
output application/java
---

"Authorization": "Bearer " ++ payload."access_token"]]]></http:headers>
		</http:request>
		<choice doc:name="Choice Fabrics Configured" doc:id="b3e859f9-c132-4773-8b31-99f06623b745" >
			<when expression="#[payload != []]">
				<flow-ref doc:name="Active and Inactive Fabrics Check" doc:id="260216a1-1f59-42de-9fed-2daf35d3b37f" name="runtime-fabric-status-utilityFlow3"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Fabrics Logger" doc:id="829b5fe3-b948-464f-ab82-b1dbce809c7f" message="No Runtime Fabrics are Configured"/>
				<ee:transform doc:name="No Fabrics" doc:id="636b992f-73de-4251-817d-596a322cbb73" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "ALERT!!! No Fabrics have been configured. Please ensure that there is atleast one Runtime Fabric configured to use this utility."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9639a772-14f8-40d4-8c40-1e9c8f046bd1" type='"FABRIC_STATUS:INACTIVE"'>
				<!-- <ee:transform doc:name="InActive Fabrics" doc:id="8f057f22-b357-4822-bda1-aa989f8b553f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload filter $.fabricStatus != "Active" map{
	fabricId: $.fabricId,
	fabricName: $.fabricName,
	fabricStatus: $.fabricStatus
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>  -->
				<ee:transform doc:name="Error Response" doc:id="b974e423-3460-4c13-80aa-bc5476ef617d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: 503,
	message: "ALERT!!! Some fabrics are in either Degraded or Disconnected State!",
	messageText: payload
}]]></ee:set-payload>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	statusCode: 503
}]]></ee:set-attributes>
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Inactive Fabrics Logger" doc:id="3dc7dc6d-6eb9-40a2-a0c9-d0ab8350b18c" message="ALERT!!! Some fabrics are in Inactive State! #[payload]" />
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4abca6cf-8c80-4bea-a29a-eb8c0daa560d" >
				<ee:transform doc:name="Unhandled Exception" doc:id="5c28a68b-ebef-4e69-9f78-462edbccc5f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "An Unhandled Exception Occured!!!",
	messageText: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Unhandled Exception Logger" doc:id="38539033-11e7-4ee1-99f4-5af3bcaa217c" message="An Unhandled Exception Occured!!! #[payload]"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="runtime-fabric-status-utilityFlow3" doc:id="5bf6b393-b8be-40d3-99b3-043424b32b25" >
		<set-variable value="#[payload]" doc:name="Fabrics List" doc:id="3b91b2da-d3d3-4ad7-a27a-5386f9b796b3" variableName="fabricList" />
		<ee:transform doc:name="Omit Registered Fabrics" doc:id="4eeb75f8-b24f-4678-a230-b3638125d427">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter $.status != "Registered" map{
	fabricId: $.id,
	fabricName: $.name,
	fabricStatus: $.status
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Omit Active Fabrics" doc:id="4f410e10-ec01-4891-be39-fc2c90746ab2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter $.fabricStatus != "Active" map{
	fabricId: $.fabricId,
	fabricName: $.fabricName,
	fabricStatus: $.fabricStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Any Inactive?" doc:id="76eb7df2-b29e-4412-aac9-69cf8fded716">
					<when expression="payload != []">
						<flow-ref doc:name="Check Status of Fabrics" doc:id="a533ddfe-85d8-4c37-9c14-88ad0b29aae1" name="runtime-fabric-status-utilityFlow2" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Success Logger" doc:id="79cfdb86-c0e5-4e74-80ec-d98597b148a3" message="No Fabrics are in Inactive State" />
				<ee:transform doc:name="Transform Message" doc:id="079d1886-bed6-4ee4-8349-50741b6f1c4d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "No Fabrics are in either Degraded or Disconnected State!",
	messageText: flowVars.fabricList
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</otherwise>
				</choice>
	</flow>
	<flow name="runtime-fabric-status-utilityFlow2" doc:id="d940b15d-b929-4b7d-931b-fb820773856d" >
		<set-variable value="false" doc:name="Initialize Error State to False" doc:id="4c23b634-f794-44ba-b8b8-f3ecd86dd05f" variableName="errorState" />
		<foreach doc:name="For Each Fabric" doc:id="752f7b33-eaae-4289-b1b6-92f96bbfd1f1">
			<flow-ref doc:name="Check Status " doc:id="1d5ad6b7-289e-44f8-9e35-d0b7a56f12e6" name="runtime-fabric-status-utilityFlow1" />
		</foreach>
		<validation:is-true doc:name="Validate if Error State Is true" doc:id="b5f2a38d-d7b3-41e2-be40-8bb49e63c093" expression='#[vars.errorState == "true"]' message="ALERT!!! Some fabrics are not in Active State." />
		<raise-error doc:name="Raise error for Inactive Fabrics" doc:id="e35cbaf2-4798-495f-bc61-53247349fb19" type='"FABRIC_STATUS:INACTIVE"' />
	</flow>
	<flow name="runtime-fabric-status-utilityFlow1" doc:id="607abb30-f6e6-4bc9-889a-4475933c976d">
		<choice doc:name="Fabric Disconnected or Degraded" doc:id="48234a61-543c-4986-b6a8-02335be75413">
						<when expression='payload.fabricStatus == "Disconnected"'>
							<ee:transform doc:name="Disconnected Fabrics" doc:id="ca196d7e-dd38-4953-af96-00c96f05701a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fabricId: payload.fabricId,
	fabricName: payload.fabricName,
	fabricStatus: payload.fabricStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
							<logger level="INFO" doc:name="Disconnected Logger" doc:id="71679221-bdb2-44b2-be0a-ef72e8afd1ab" message="Disconnected Fabric #[payload]" />
						</when>
						<otherwise>
							<ee:transform doc:name="Degraded Fabrics" doc:id="f50ce939-c384-4cde-9083-bdf754e543cc">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fabricId: payload.fabricId,
	fabricName: payload.fabricName,
	fabricStatus: payload.fabricStatus
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Degraded Logger" doc:id="f7dc6226-fbc3-4ffb-b659-12de7467d794" message="Degraded Fabric #[payload]" />
						</otherwise>
					</choice>
		<set-variable value="true" doc:name="Set Error State to True" doc:id="d33fea21-753f-4923-89ad-46844a22ea19" variableName="errorState" />
	</flow>
</mule>
